<div id="full-nav" class="absolute w-full top-0 py-5 z-50 transition ease-linear">
            <div class="max-w-6xl mx-auto px-6">
                <div class="flex items-center container">
                    <a href="./"><img id="logo-area" src="../assets/model-un-logo-outline.png" alt="logo"
                            style="float: left;" class="w-32"></a>
                    <div class="ml-auto sm:flex text-white font-sans hidden">

                        <div class="dropdown ml-8 font-semibold uppercase text-sm">
                            <a class="title-link ml-8 font-semibold uppercase text-sm">MUNI XXVIII</a>
                            <div class="dropdown-menu">
                                <a class="subtitle-link" href="./about">Meet The Secretariat</a>
                                <a class="subtitle-link" href="./committees">Committee Introduction</a>
                                <a class="subtitle-link" href="./schedule">Conference Schedule</a>
                                <a class="subtitle-link" href="./registration">Registration</a>
                                <a class="subtitle-link" href="./logistics">Logistics</a>
                            </div>
                        </div>

                        <div class="dropdown ml-8 font-semibold uppercase text-sm">
                            <a class="title-link ml-8 font-semibold uppercase text-sm"
                                href="https://illinoismun.org">Club</a>

                        </div>



                    </div>
                    <button id="tog" class="ml-auto md:hidden text-xl text-gray1 pr-5" onclick="showDiv()">
                        <svg stroke="#ffffff" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                            stroke-linejoin="round" height="3.5vh" xmlns="http://www.w3.org/2000/svg">
                            <line x1="3" y1="12" x2="21" y2="12"></line>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div id="sidenav" class="fixed top-0 bottom-0 w-72 p-6 z-50 bg-gray-900 shadow -right-80"
            style="transition:all 0.5s ease">
            <div class="flex">
                <button class="text-xl text-gray-1 ml-auto" onclick="hideDiv()">
                    <svg stroke="#ffffff" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="3.5vh" xmlns="http://www.w3.org/2000/svg">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="flex flex-col justify-center items-end font-sans h-full text-white">
                <a class="font-semibold uppercase text-sm my-4" href="javascript:void(0)"
                    onclick="toggleSubmenu('muni-submenu')">MUNI XXVIII</a>
                <div id="muni-submenu" class="submenu hidden pl-4">
                    <a class="font-semibold uppercase text-sm my-4" href="./about">Meet The Secretariat</a>
                    <a class="font-semibold uppercase text-sm my-4" href="./committees">Committee Introduction</a>
                    <a class="font-semibold uppercase text-sm my-4" href="./schedule">Conference Schedule</a>
                    <a class="font-semibold uppercase text-sm my-4" href="./registration">Registration</a>
                    <a class="font-semibold uppercase text-sm my-4" href="./logistics">Logistics</a>
                    <!-- <a class="font-semibold uppercase text-sm my-4" href="./about">Secretariat</a> -->
                </div>
                <a class="font-semibold uppercase text-sm my-4" href="https://illinoismun.org">Club</a>

            </div>
        </div>
